.admin-container {
  width: 100%;

  background-color: #343a40;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 100svh;
}

h1 {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

h2 {
  color: black;
  padding-bottom: 5px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.section-card {
  margin: 20px;
}
.section-card:hover {
  background-color: #8a8a8a;
}
.pAdministracion {
  color: red;
  display: flex;
  justify-content: center;
}
